.App {
  text-align: center;
}

table {
  margin-left:auto; margin-right:auto;
}

td, th {
  vertical-align: middle;
  text-align: center;
}

td {
  margin-right: 20px;
  padding-right: 20px;
}

tr {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

svg {
  height: 100px;
}

.navBar {
 background-color: orangered;
}

.sideBar {
  background-color: yellow;
  font-size: 10px;
  float: left;
  width: 40vw;
  height: 90vh;
}

.main-content {
background-color: skyblue;
float: right;
width: 50vw;
height: 50vh;
}

.about{
  background-color: slategrey;
}

.input {
  background-color: mediumpurple;
}

.radio {
  display: inline;
}
